<title>Sports Meetup!</title>

<center>
    <h1>
    <%= link_to '<button type="button" class="button">Create a League</button>'.html_safe, sports_create_league_path %>
    <%= link_to '<button type="button" class="button">Find a League</button>'.html_safe, sports_find_league_path %>
    </br>
    </br>
    <%= link_to '<button type="button" class="button">Create a Meet</button>'.html_safe, sports_create_meet_path %>
    <%= link_to '<button type="button" class="button">Find A Meet</button>'.html_safe, sports_find_meet_path %>
        </br>
    </br>
    <%= link_to '<button type="button" class="button">View Profile</button>'.html_safe, sports_profile_path %>
    </h1>
    </br>
    <%= link_to '<button type="button" class="button">Log In / Set up a profile</button>'.html_safe, sports_path %>
</center>
